# Intellij Idea project files
.idea
*.iml
*.ipr
*.iws

# gradle config
.gradle
.gradletasknamecache

# project binaries
build
out
classes

# sonar
sonar-project.properties
.sonar

# mac os x
.DS_Store

# netbeans
.nb-gradle

/config
/src/main/resources/build
dist
.cache/
node_modules
